body, table, a {
	font-family: Arial;
	font-size: 12px;
	color: #746a55;/*#b4aa95;*/
}

/*
table {
	margin-top: 10px;
	margin-bottom: 10px;
}
*/
body {
	background-color: #f8f1da;/*#f4f1ec;#fffff5*/
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;	
}

.highlight, input, select {
	background-color: #fffff0;
	
}

input, select{
	border: 1px solid #c4baa5;
	
}

.menubutton {
    background-color: #f8f1da;
	border: 1px solid #f8f1da;
	border-radius: 3px;
    color: #948a75;
	box-shadow: none;
	cursor : pointer;
}

button {
    background-color: #e4dac5;
    -webkit-transition-duration: 0.25s; /* Safari */
    transition-duration: 0.25s;
	border: 1px solid #c4baa5;
	border-radius: 3px;
	box-shadow: 0 2px 2px 0 rgba(50,50,50,0.19);
    color: #948a75;
	cursor : pointer;
}

button.card {
    background-color: #f8f1da;
	border: 1px solid #e4ddc6;
    color: #7b5401;
	border-radius: 3px;
	
}

button.card:hover {
    background-color: #d3b989;
}

button:hover {
    background-color: #f2ead4;
    /*color: #c4baa5;*/
}

a {
	text-decoration: none;
	
}

img, .tMenu, #mainCaption {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
	
}

.tMenu {
	width : 50%;
	height : 90%;
	color : #999;
}

.tMenu  img {
	height : 150px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s
}

/* Add Animation */
@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #746a55;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #f8f1da;
    color: #746a55;
}

.modal-body {
	padding: 2px 16px;
    background-color: #fffff0;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #f8f1da;
    color: #746a55;
}