html, body, #mainTable {
	height: 100%;
	overflow: hidden;
	width: 100%;
	margin: 0px;
	color: #eee;
	background-color: #000;

	scrollbar-base-color: rgba(50,50,50,0.3);
	scrollbar-face-color: rgba(0,0,0,0.3);
	scrollbar-3dlight-color: rgba(50,50,50,0.3);
	scrollbar-highlight-color: rgba(50,50,50,0.3);
	scrollbar-track-color: rgba(0,0,0,0.3);
	scrollbar-arrow-color: rgba(50,50,50,0.3);
	scrollbar-dark-shadow-color: rgba(50,50,50,0.3);
	scrollbar-shadow-color: rgba(50,50,50,0.3);
	
}

html, body, table {
	font-family: Arial;
	font-size: 12px;
	
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-button {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); 
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.5); 
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000000; /* Sit on top */
    padding-top: 0px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
	height: 100%;
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #000;
    margin: auto;
    padding: 0;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	background-color: rgba(0,0,0,0.5)
    animation-name: animatetop;
    animation-duration: 0.8s
}

/* Add Animation */
@keyframes animatetop {
    from {opacity:0}
    to {opacity:1}
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 2px;
    background-color: #000;
}

.modal-body {
	padding: 2px 2px;
    background-color: rgba(0,0,0,0.5);
}

.modal-footer {
    padding: 2px 2px;
    background-color: #000;
}

.alpha {
	background-color: rgba(0,0,0,0.2)
}

.alpha:hover{
	background-color: rgba(0,255,0,0.2)
	
}

.div-table{
  display:table;         
  width:auto;         
  /*background-color:#eee;*/
  border:1px solid  #666666;         
  border-spacing:5px;
}
.div-table-row{
  display:table-row;
  width:100%;
  clear:both;
}
.div-table-col{
  float:left;
  display:table-column;         
  width:100%;
  /*background-color:#ccc;*/
}

button {
	background-color: rgba(0,0,0,0.3);
	color : #eee;
}

button:hover{
	background-color: rgba(255,0,0,0.3);
	color : #fff;
	
}

table, div, tr, td {
	background-color: rgba(0,0,0,0);
	
}

